@import "bootstrap/dist/css/bootstrap.min.css";
@import "./roboto.scss";

// Вложености 
// & 
// переменные  $var 
// импорт @import 
// шаблоны % . @extend 
// миксины @mixin func($var) @include 
// математические операции  
// комментарии которые не попадают в браузер // 
// циклы   

%center-content 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

body
{
    font-family: 'Roboto';
}

.logo {
    height: 108px;
    width: 100px;
    margin: 0 auto;
    background-size: cover; 
    background-image: url('../assets/logo.png');
}

.stock {
    display: none;
}

#title-list-text
{
    text-align: center;
}

.check-namer
{
    // border: 0px;
    outline: none;
    display: none; 
    position: absolute; 
    box-sizing: border-box; 
    display: none;

    &:focus
    {
        outline: none; 
        border-width: 0 0 0;
        //  border-color: black; 
    }
}



.form-check-label
{
    cursor: pointer;
}

#main-content
{
    position: relative;
    height: 650px;
    
}

// @keyframes anime {
//     from
//     {
//         opacity: 0;
//     }
//     to
//     {
//         opacity: 1;
//     }
// }

.empty-field-pl-hold
{
    height: 100%;
    background-color: rgb(216, 216, 216);
    // opacity: 0;
    // @extend %center-content; 
    // animation-name: anime;
    // animation-duration: 1s;
    // animation-timing-function:ease-in;
    // animation-iteration-count: 1;
    // animation-delay: 1s;
    .ph-msg
    {
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 30px;
        // text-decoration: underline; 
    }
    .ph-msg:after{content:''; border-bottom:1px #000 solid; display:block; }
}

.empty-menu-pl-hold
{
    display: flex;
    height: 100%; 
    @extend %center-content;
    transition: border 1s;
    border: 3px dotted gray; 
} 

.no-entry-pl-hold
{ 
    display: none;
    margin-top: 20px;
    font-size: larger;
    font-style: oblique;
    text-align: center;
   
}

@keyframes showPH {
    
}

.check-delete-img
{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-image: url('../assets/delete.png'); 
    float: right;

    &:hover
    {
        cursor: pointer;
        background-image: url('../assets/bin-active.png');
    }

}

.form-check
{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.alert 
{
    position: fixed;
    width: 100%;
    display: none !important;
    bottom: 0;
}
@media screen and (max-width: 1000px) 
{
    .control-btn
    {
        margin: 0 !important;
    }
}
@media screen and (max-width: 768px) 
{
    #main-content
    {
        height: 100%; 
    }
    #field
    {
        padding-top: 30px;
        height: 650px;
    }
    
}